# Node
node_modules/
dist/
build/
*.log
.env
.env.local
backend/uploads/*
!backend/uploads/.gitkeep

# OS / IDE
.DS_Store
*.swp
.idea/
.vscode/
xcuserdata/
DerivedData/
*.xcuserstate

# iOS
ios/**/*.xcworkspace/xcuserdata/
*.ipa
*.dSYM.zip
*.dSYM

# Misc
coverage/
.turbo/
*.tsbuildinfo

backend/secrets/
backend/secrets/*
backend/secrets/**